<div id="container">
	<div class='instructions-container'>
	<div class='instructions-button' onclick='toggleInstructions(this)'><h3>Instructions</h3></div>	
		<div class="instructions-content" style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; " id="snus">
			<p>This is a template dugga that allows uploading of material. PDF, ZIP and RAR is allowed. PDF-files will be previewed.</p>
		</div>
	</div>

	<div class='instructions-container'>
		<div class='instructions-button' onclick='toggleInstructions(this)'><h3>Submission</h3></div>	
		<div class="instructions-content" style=" -webkit-columns: 1; -moz-columns: 1; columns: 1; " id="tomten"></div>	
	</div>
</div>
<div id="duggaStats" class="loginBox" style="display:none;position:absolute;top:0;right:0;">
    <div class='loginBoxheader'>
        <h3>Dugga Stats</h3>
        <div onclick="hideReceiptPopup()">x</div>
    </div>
    <div class="table-wrap">
        <table>
            <tr><th></th><th>Highscore</th><th>Total</th></tr>
            <tr><td>Clicks</td><td id="duggaClicks"></td><td id="duggaTotalClicks"></td></tr>
            <tr><td>Time</td><td id="duggaTime"></td><td id="duggaTotalTime"></td></tr>
            <tr><td>Submissions</td><td></td><td id="duggaTotalSubmissions"></td></tr>
        </table>
    </div>
</div>
<!---------------------=============####### Preview Popover #######=============--------------------->

<div id='previewpopover' class='previewPopover' style='display:none;'>
	<div class='loginBoxheader'>
		<h3 style='width:100%;' id='Nameof'>Submission and feedback view</h3><div onclick='closeWindows();'>x</div>
	</div>
	<div style="position:absolute;left:0px;top:34px;bottom:0px;right:0px;">
		<table width="100%" height="100%">
				<tr>
						<td width="75%" height="100%" id="popPrev" style="border:2px inset #aaa;background:#bbb; overflow:scroll;">
								<embed src="" width="100%" height="100%" type='application/pdf' />
						</td>
						<td width="25%" height="100%" id='markMenuPlaceholder' style="background:#bbb;">
									<table width="100%" height="100%">
										<tr height="24px" style="text-align: center;"><td><h2>Teacher Feedback</h2></td></tr>
										<tr height="24px" style="display:none;">
												<td>
														<button onclick='addCanned();'>Add</button>
														<select id="cannedResponse">
																<option>&laquo; NONE &raquo;</option>
																<option>(Y) </option>
																<option>(N) </option>
																<option>:) </option>
														</select>
												</td>
										</tr>
										<tr height="100%">
												<td>
														<textarea id="responseArea" style="width: 100%;height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;">Glomar Explorer</textarea>
												</td>
										</tr>
										<tr id="markSaveButton" height="24px" style="display:none;">
												<td>
														<button onclick='saveResponse();'>Save</button>
												</td>
										</tr>											
									</table>
						</td>
				</tr>
		</table>
	</div>
</div>
